tasts.txt
pycache/
.DS_Store
__pycache__/       
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
*.pyzwzwzw
.vscode/    
discussion8_local_backup.py
new_york_listings_2024_local_backup.csv